.common_section{
  padding: 20px 20px 10px 20px;
}

.title{
  font-size: 24px;
  color: var(--black-950);
  padding-bottom: 20px;
}

.category_list{
  display: flex;
  font-size: 13px;
  gap: 8px;
}

.category_btn{
  height: 30px;
  border: 1px solid var(--black-200);
  border-radius: 50px;
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  padding: 8px;
  color: var(--black-950);
}

.category_btn button{
  all: unset;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

.active {
  background-color: var(--primary-blue-100); 
  border-color: var(--primary-blue-300);
  color: var(--primary-blue-300);
}

/* 총 개수 */
.count_icon_section{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.count{
  font-size: 13px;
  color: var(--black-500);
}

.message{
  font-size: 13px;
  color: var(--black-500);
  padding: 20px 20px 0 0;
}

/* .view_options{
  display: flex;
  flex-direction: row;
  gap: 10px;
} */

