.photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  width: 100%;
  padding: 0 20px 20px 20px;
}

.item {
  background-color: var(--black-400);
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  transition: opacity 0.1s ease;
}
.itemb {
  background-color: var(--black-400);
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  transition: opacity 0.1s ease;
}

.item:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .photo {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1280px) {
  .photo {
    grid-template-columns: repeat(7, 1fr);
  }
}
