.mirine_bottom_sheet {
  position: sticky;
  width: 100vw;
  bottom: 0;
  padding: 20px;
  background-color: var(--primary-purple-200);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mirine_list {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  overflow-x: scroll;
  .mirine_item {
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--primary-purple-100);
    border: 1px solid var(--primary-purple-300);
    border-radius: 25px;
    color: var(--primary-purple-300);
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
  }
}

.delete_item_btn {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: -3px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: var(--black-950);
}

.required_cnt_description {
  font-size: 12px;
  color: var(--error);
  margin-bottom: 5px;
}

.button_section {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1001;
}

.buy_btn {
  padding: 15px;
  background-color: var(--black-100);
  border-radius: 4px;
  font-size: 15px;
  color: var(--black-400);
  width: 100%;
  cursor: pointer;
  span {
    color: var(--black-400);
    font-weight: bold;
  }
}
.buy_btn.active {
  background-color: var(--black-950);
  color: var(--text-white);
  span {
    color: var(--primary-purple-300);
  }
}
