.title{
  padding-bottom: 10px;
}
.review_wrapper{
  padding: 0 20px;
}

.list_wrapper{
  border: 1px solid var(--black-200);
  border-radius: 12px;
  padding: 20px;
}

.btn_wrapper{
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;
}

.delete_btn{
  justify-self: end;
}