/* 결제하기 버튼 */
.btn_payment {
  cursor: pointer;
  color: var(--primary-blue-200);
  font-size: 15px;
  width: 100%;
  height: 46px;
  border: 1px solid var(--black-200);
  border-radius: 4px;
  background-color: var(--black-950);
}