/* 체크박스 추가한 상품 목록 */
.cart{
  padding: 0 20px;
  width: 100%;
}

.cart_list {
}

.cart_item {
  display: grid;
  border: 1px solid var(--black-200);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
  grid-template-columns: auto 60px 1fr auto;
  cursor: pointer;
}

/* 체크박스 */
.cart_item input[type="checkbox"] {
  appearance: none;
  /* box-sizing: border-box; */
  /* background-clip: content-box; */
  width: 13px;
  height: 13px;
  border: 1px solid var(--black-200);
  border-radius: 2px;
  cursor: pointer;
}

.cart_item input[type="checkbox"]:checked {
  background-image: url("/icon/icon-check.svg"); /* 체크 아이콘 이미지 */
  background-size: 11px 11px;
  background-repeat: repeat;
  background-position: center;
} 


/* 제품 이미지 */
.item_img {
  width: 40px;
  height: 40px;
  margin: auto;
}

.item_info {
  margin: 10px;
}

/* 브랜드명 */
.brand_name {
  color: var(--black-500);
  font-size: 12px;
}

/* 제품명 */
.product_name {
  color: var(--black-950);
  font-size: 14px;
}

/* 수량 버튼 */
.btn_volume {
  display: flex;
  align-items: center;
  border: 1px solid var(--black-200);
  border-radius: 6px;
  width: 76px;
  height: 28px;
  justify-content:space-around;
  color: var(--black-950);
  font-size: 11px;
  margin-top: 10px;
}

.btn_minus,
.btn_plus {
  /* width: 32px;
  height: 36px; */
  border: none;
  cursor: pointer;
}

/* 가격 */
.product_price {
  color: var(--black-950);
  font-size: 16px;
  display: flex;
  align-items: end;
  padding-right: 15px;
  margin-bottom: 10px;
}

/* 배송비 + 상품금액, 토탈금액 */
.charge {
  text-align: right;
  align-self: flex-end;
}

.delivery_amount {
  color: var(--black-700);
  font-size: 12px;
}

.total {
  color: var(--black-950);
  font-size: 16px;
}
