:root {
  --bg-white: #ffffff;
  --primary-purple-100: #efe7ff;
  --primary-purple-200: #b090ee;
  --primary-blue-100: #d4ddff;
  --primary-blue-200: #7c9dfb;
  --text-blue-100: #d8e6fb;
  --text-blue-200: #83a0cc;
  --text-blue-300: #4f6586;
  --text-blue-400: #010f2d;
  --text-white: #f9f9f9;
  --error: #ff8132;
  --success: #7c9dfb;
  --black-50: #f6f6f6;
  --black-200: #dadada;
  --black-300: #c2c2c2;
  --black-400: #a7a7a7;
  --black-500: #8c8c8c;
  --black-600: #707070;
  --black-700: #545454;
  --black-800: #383838;
  --black-900: #1e1e1e;
  --black-950: #111111;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

main {
  margin-top: 50px;
}

@media (min-width: 1280px) {
  main {
    margin-top: 100px;
  }
}
