.view_options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.view_btn {
  stroke: var(--black-200);
  fill: var(--black-200);
}
.view_btn.active {
  stroke: var(--black-950);
  fill: var(--black-950);
}
