.perfume_shop {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.title_con {
  order: 1;
  padding: 20px;
  padding-bottom: 25px;
  border-radius: 25px 25px 0 0;
  background-image: url("/home/perfumeshop.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  margin-bottom: 20px;
  color: var(--black-950);
  font-size: 22px;
  line-height: 1;
  text-align: center;
}

.text_con {
  order: 2;
  margin-top: -25px;
  padding: 20px;
  border-radius: 25px;
  background-color: #c2cfdf;
  text-align: center;
}

.text {
  margin-bottom: 20px;

  span {
    display: block;
    color: var(--text-blue-400);
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .perfume_shop {
    display: block;
    padding-bottom: 50px;
  }

  .title_con {
    display: inline-block;
    width: calc(100% - 240px);
    height: 220px;
    margin-left: 20px;
    border-radius: 25px;
    vertical-align: middle;
  }

  .title {
    margin-bottom: 0;
    font-size: 30px;
    text-align: left;
  }

  .text_con {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
  }

  .text {
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .perfume_shop {
    padding-bottom: 150px;
  }

  .title_con {
    width: calc(100% - 340px);
    height: 300px;
    margin-left: 40px;
    padding: 40px;
    border-radius: 40px;
  }

  .title {
    font-size: 40px;
  }

  .text_con {
    width: 300px;
    height: 300px;
    border-radius: 40px;
  }

  .text {
    margin-bottom: 40px;

    span {
      font-size: 16px;
    }
  }
}
