.result_container{
  padding: 0 0 10px 0;
}

.date_share_wrapper{
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.test_date{
  font-size: 14px;
  color: var(--black-950);
}

.result_items{
  padding-top: 10px;
}