.product_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  /* gap: 20px; */
}

/* 이미지, 찜, 링크 */
.img_btn_section {
  position: relative;
  align-self: center; 
}

.image {
  display: block;
}

.action_buttons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10; 
}

@media (min-width: 1024px) {
  .action_buttons {
    top: 16px;
    right: 16px;
    gap: 8px;
  }
}

.zzim_btn,
.share_btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--black-200); 
  background-color: var(--bg-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 제품정보 */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 20px; 
}

.product_info{
  padding-bottom: 20px;
}

.brand_name {
  font-size: 12px;
  color: var(--black-500);
}

.product_name {
  font-size: 20px;
  color: var(--black-950);
  
}

.price {
  font-size: 16px;
  color: var(--black-950);
}
/* 상품 간단 설명 */
.product_description {
  font-size: 12px;
  color: var(--text-blue-300);
  padding-bottom: 30px;
}
/* 해시태그 */
.tag {
  color: var(--blue-700);
  font-size: 12px;
  padding-bottom: 10px;
}
/* 라인 */
.line {
  height: 4px;
  background-color: var(--black-100);
}

@media (min-width: 768px) {
  .line {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .line {
    display: none;
  }
}

/* 상세페이지 */
.detail_page{
  display: flex;
  justify-content: center;
}
/* 리뷰 페이지 */
.review_list{
  padding: 10px;
}
/* 별점 */
.review_star{
  padding-left: 5px;
}

/* 상품설명, 리뷰 탭 */
.tab_list{
  display: flex;
  justify-content: space-around;
  /* border-bottom: 2px solid var(--black-950); */
  font-size: 14px;
  color: var(--black-950);
}

.tab_btn{
  padding: 10px;
}

.tab_btn button {
  background: none;
  border: none;
  cursor: pointer;
}

.active button {
  font-weight: bold;
}

