/* .product_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.line {
  height: 4px;
  background-color: var(--black-100);
}

@media (min-width: 768px) {
  .line {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .line {
    display: none;
  }
} */
