.button_section {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 1001;
}

.buy_btn {
  padding: 14px;
  background-color: var(--black-950);
  border-radius: 4px;
  font-size: 15px;
  color: var(--primary-blue-300);
  width: 100%;
  cursor: pointer;
}
