.mypage_header {
  padding-top: 30px;
}

.current_title {
  display: none;
}

.breadcrumb {
  margin-bottom: 8px;
  color: var(--black-500);
  font-size: 13px;
}

.mypage_content {
  padding-bottom: 50px;
}

@media (min-width: 1280px) {
  .mypage_header {
    margin-bottom: 30px;
    padding-top: 50px;
  }

  .breadcrumb {
    margin-bottom: 0;
    font-size: 14px;
  }

  .current_title {
    display: block;
    color: var(--black-950);
    font-size: 24px;
    font-weight: bold;
  }

  .mypage_layout {
    display: flex;
  }

  .mypage_sidebar {
    width: 240px;
    margin: 0;
    margin-right: 40px;
  }

  .mypage_content {
    flex: 1 1000px;
    padding-bottom: 100px;
  }
}
